{% extends 'base.html' %}
{% load static %}
{% block content %} 
  <!-- Page Content -->

    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
        <section class="page-heading">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="text-content">
                  <h4>Recent Posts</h4>
                  <h2>Our Recent Blog Entries</h2>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

    <!-- Banner Ends Here -->
      <section class="blog-posts grid-system">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="all-blog-posts">
                <div class="row">
               {% if post %}
                {% for post  in post %}
                  <div class="col-lg-6">
                    <div class="blog-post">
                      <div class="blog-thumb">
                        <img src="{{ post.blog_photo.url }}" alt="">
                      </div>
                      <div class="down-content">
                        <span>{{ post.tag }}</span>
                        <a href="{% url 'Detials' post.id %}"><h4>{{ post.title }}</h4></a>
                        <ul class="post-info">
                          <li><a href="#">{{ post.author }} </a></li>
                          <li><a href="#">{{ post.created_on }}</a></li>
                          <li><a href="#">12 Comments</a></li>
                        </ul>
                        <p class="card-text">{{ post.content | slice:":200" }}</p>
                        <a href="{% url 'Detials' post.id %}" class="btn btn-primary">Read More &rarr;</a>
                        <div class="post-options">
                          <div class="row">
                            <div class="col-lg-12">
                              <ul class="post-tags">
                                <li><i class="fa fa-tags"></i></li>
                                <li><a href="#">{{ post.category }}</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                   {% else %}
                   <div class="col-lg-12">
                     <h1>There is no block Entries</h1>
                   </div>
                  {% endif %} 

                    <div class="col-md-12">
                      {% if post.has_other_pages %}
                        <ul class="pagination">
                          {% if post.has_previous %}
                            <li class="page-item">
                              <a href="?page={{post.previous_page_number}}" class="page-link">&laquo;</a>
                            </li>
                          {% else %}
                            <li class="page-item disabled">
                              <a class="page-link">&laquo;</a>
                            </li>
                          {% endif %}
                          {% for i in post.paginator.page_range %}
                            {% if listings.number == i %}
                              <li class="page-item active">
                                <a class="page-link">{{i}}</a>
                              </li>
                            {% else %}
                              <li class="page-item">
                                <a href="?page={{i}}" class="page-link">{{i}}</a>
                              </li>
                            {% endif %}
                          {% endfor %}
                          {% if post.has_next %}
                            <li class="page-item">
                              <a href="?page={{post.next_page_number}}" class="page-link">&raquo;</a>
                            </li>
                          {% else %}
                            <li class="page-item disabled">
                              <a class="page-link">&raquo;</a>
                            </li>
                          {% endif %}
                        </ul>
                      {% endif %}
                    </div>

                </div>
              </div>
            </div>
            {% block sidebar %} {% include 'partials/_sidebar.html' %} {% endblock sidebar %}
          </div>
        </div>
      </section>
{% endblock %}